.label {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.input {
  border: none;
  border-bottom: 3px solid gray;
  padding: 0.5rem;
  font-size: large;
  width: 30rem;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
}
.input:focus{
  outline: none;
  border-color: black;
}